.owl-prev,
.owl-next {
    position: absolute;
    top: 32%;
    left: -3%;
    width: 45px;
    height: 45px;
    border-radius: 50% !important;
    // &:hover {
    //     background: $color-white-0;
    // }

    box-shadow: 0 2px 8px 2px rgba(71, 71, 71, 0.5);
    z-index: 3;
    span {
        line-height: 0.7;
        font-size: 50px;
    }
    &:focus {
        outline: none;
    }
}
.owl-theme .owl-nav [class*="owl-"]:hover {
    background: #fff;
    color: $color-black-0;
    // text-decoration: none;
}
.owl-next {
    left: unset;
    right: -3%;
}
