.comment {
    margin: $pd3 + 40 0;
    // Chỉnh lại nút next 
    .owl-next {
        left: unset;
        right: -2%;
    }
    

    .comment__item {
        .comment__item__content1 {
            position: relative;
            .comment__play {
                content: "123123";
                display: inline-block;
                background: url(../img/play.png) no-repeat;
                background-size: 80px;
                width: 80px;
                height: 80px;
                position: absolute;
                // z-index: ;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            &:hover {
                cursor: pointer;
            }
        }
        .comment__item__content2 {
            margin-top: $mg-2;
            h3 {
                @include styleText($color-gray-3, $fs-3, $fw-bold-0);
                margin: 0;
                margin-right: $mg-1;
                span {
                    border-left: 1px solid $color-gray-3;
                    img {
                        height: 40px;
                        width: 120px;
                        display: inline;
                    }
                }
            }
            p {
                margin-top: $mg-1;
                font-family: "Sansita Swashed", cursive;
                @include styleText($color-black-0, $fs-5 - 2, $fw-sw-1);
            }
        }
    }
}
