.explore {
    padding: $pd3 + 40 0;
    h2 {
        margin-bottom: $mg-2 + 10;
    }
    .explore__bg{
        padding: 0 45px;
    }
    .explore__content {
        text-align: center;
        a{
            position: relative;
            img {
                height: 48px;
            }
            &::after{
                content: "";
                position: absolute;
                width: 50px;
                transform: translateX(50%);
                border-bottom: 2px solid $color-gray-7;
                top: 38px;
                right: 50%;
            }
        }
        p {
            margin-top: $mg-1;
            @include styleText($color-black-0, $fs-2, $fw-bold-0);
        }
    }
}
